@model portaVoz.Models.AvaliacaoMO;
@{
    ViewData["Title"] = "Cadastrar Avaliações";
}

<div class="container-fluid">
    <div class="card">
        <div class="card-header">
            Cadastrar Avaliações
        </div>
        <div class="card-body">
            <form asp-controller="Avaliacoes" asp-action="Cadastro" method="post">
                <div asp-validation-summary="ModelOnly"></div>
                <div class="form-group">
                    @Html.DisplayNameFor(model => model.NomeAvaliador) : <input class="form-control" asp-for="NomeAvaliador" /> <br />
                    <span asp-validation-for="NomeAvaliador"></span><br />
                </div>
                <div class="form-group">
                    @Html.DisplayNameFor(model => model.IdadeAvaliador) : <input class="form-control" asp-for="IdadeAvaliador" /><br />
                    <span asp-validation-for="IdadeAvaliador"></span><br />
                </div>
                <div class="form-group">
                    Entidade Pública : <select class="form-control" id="entidade" name="idEntidade" required>
                        <option value="0" disabled selected>--Selecione uma Entidade Pública--</option>
                    </select>
                    <span asp-validation-for="IdEntidade"></span><br />
                </div>
                <div class="form-group">
                    @Html.DisplayNameFor(model => model.AvaliadorResideLocal) : <input class="ml-4" type="checkbox" asp-for="AvaliadorResideLocal" /><br />
                    <span asp-validation-for="AvaliadorResideLocal"></span><br />
                </div>
                <div class="form-group">
                    @Html.DisplayNameFor(model => model.Nota) : <input class="form-control" type="number" asp-for="Nota" /><br />
                    <span asp-validation-for="Nota"></span><br />
                </div>
                <button class="btn btn-primary" type="submit">Register</button>
            </form>
        </div>
    </div>
</div>

<script>
    $(document).ready(function() {
        fetch('/EntidadesPublicas/Listar')
        .then(response => response.json())
        .then(result =>
        {
            let entidade = $("#entidade");
            for(var i = 0; i < result.length; i++)
            {
                let opt = document.createElement("option");
                opt.value = result[i].id
                opt.text = result[i].nome
                entidade.append(opt);
            }
        })
    });
</script>