﻿@* @model portaVoz.Models.AvaliacaoMO; *@
@model IEnumerable<portaVoz.Models.AvaliacaoMO>
@{
    ViewData["Title"] = "Avaliações";
}

<div class="container-fluid">
    <div class="card">
        <div class="card-header">
            Avaliações
        </div>
        <div class="card-body">
            <p>
                @Html.ActionLink("Cadastrar", "Cadastrar", "Avaliacoes")
            </p>
            <form class="form-inline" asp-controller="Avaliacoes" asp-action="Listar" method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group mx-sm-3 mb-2">
                    <label for="entidade" class="sr-only">Entidade</label>
                    <select class="form-control" id="entidade" name="idEntidade" required>
                        <option value="0" disabled selected>--Selecione uma Entidade Pública--</option>
                    </select>
                    <div class="invalid-feedback">
                        Please choose a username.
                    </div>
                </div>
                <button type="submit" class="btn btn-primary mb-2">Procurar</button>
            </form>
            <div class="mt-3">
                <table id="avaliacoes" class="table table-striped" style="width:100%">
                    <thead>
                        <tr>
                            <th>@Html.DisplayNameFor(model => model.Id)</th>
                            <th>@Html.DisplayNameFor(model => model.NomeAvaliador)</th>
                            <th>@Html.DisplayNameFor(model => model.IdadeAvaliador)</th>
                            <th>@Html.DisplayNameFor(model => model.DtAvaliacao)</th>
                            <th>@Html.DisplayNameFor(model => model.IdEntidade)</th>
                            <th>@Html.DisplayNameFor(model => model.AvaliadorResideLocal)</th>
                            <th>@Html.DisplayNameFor(model => model.Nota)</th>
                            <th>Ações</th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (@Model != null)
                        {
                            @foreach (var item in @Model)
                            {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Id)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.NomeAvaliador)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.IdadeAvaliador)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.DtAvaliacao)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.IdEntidade)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.AvaliadorResideLocal)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Nota)
                            </td>
                            <td>
                                <a href="#">Edit</a> |
                                <a asp-action="Excluir" asp-route-id="@item.Id">Delete</a>
                            </td>
                        </tr>
                            }
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function() {
        fetch('/EntidadesPublicas/Listar')
            .then(response => response.json())
            .then(result => {
                let entidade = $("#entidade");
                for (var i = 0; i < result.length; i++) {
                    let opt = document.createElement("option");
                    opt.value = result[i].id
                    opt.text = result[i].nome
                    entidade.append(opt);
                }
            });
        $('#avaliacoes').DataTable(
            {
                "language": {
                    "lengthMenu": "Mostrando _MENU_ itens por pagina",
                    "zeroRecords": "Nada encontrado - desculpe",
                    "info": "Mostrando pagina _PAGE_ de _PAGES_",
                    "infoEmpty": "Não há dados disponíveis",
                    "infoFiltered": "(filtrando de _MAX_ total linhas)",
                    "search": "Procurar:",
                    "sPrevius": "Anterior",
                    "paginate": {
                        "previous": 'Anterior',
                        "next": 'Próximo'
                    }
                }
            }
        );
    });
</script>