﻿@model IEnumerable<portaVoz.Models.TipoEntidadeMO>
@{
    ViewData["Title"] = "Departamentos";
}

<div class="container-fluid">
    <div class="card">
        <div class="card-header">
            Departamentos
        </div>
        <div class="card-body">
            <div class="mt-3">
                <table id="avaliacoes" class="table table-striped" style="width:100%">
                    <thead>
                        <tr>
                            <th>@Html.DisplayNameFor(model => model.Id)</th>
                            <th>@Html.DisplayNameFor(model => model.Nome)</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in @Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Id)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Nome)
                                </td>
                                <td>
                                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
